<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Main</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <h1>So here is : </h1>
            <h2  th:text="' Name of university - ' + ${u.name}+'; Internship name - '+${u.internship.name}"></h2>
            <a th:href="'/university/'+${u.id}+'/delete'" >Delete University with Internship</a><br>
            <a th:href="'/university/'+${u.id}+'/internship'">Show Internship</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <p>If you want to update info about University (required)</p>
            <form th:action="'/university/'+${u.id}+'/update'" method="post">
                <p>Please enter University name: </p><input type="text" name="name1" required><br>
                <p>Please enter name of Internship University: </p><input type="text" name="InternName1" required><br>
                <input style="margin: 10px ;" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <h2>Please enter info if you want to add student</h2>
            <form th:action="'/university/'+${u.id}+'/student/create'" method="post">
                <p>Please enter name: </p><input type="text" name="nameStudent" required><br>
                <p>Please enter knowledge level: </p><input type="text" name="levelStudent" required><br>
                <input style="margin: 10px ;" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <h3>So here is a list of students in your University:</h3>
            <ul th:each="s : ${students}">
                <li>
                    <a th:href="'/university/'+${u.id}+'/student/'+${s.id}" th:text="' Name - ' + ${s.name} + '; Student knowledge - ' + ${s.knowledge} "></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>